
body {
    box-sizing: border-box;
    background-color: white;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-link {
    display: block;
    padding: 6px;
}

p {
    padding-left: 10px;
}

.title {
    background-color:dodgerblue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    background-color:rgb(154, 201, 248);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.steps {
    background-color:rgb(192, 220, 249);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-container {
    padding: 30px;
    background-color: tan;
}

.recipe-item {
    font-size: 16px;
    background-color: wheat;
}

.steps-container {
    padding: 30px;
    background-color: rgb(218, 196, 169);
}

.steps-item {
    font-size: 16px;
    background-color: rgb(242, 231, 209);
}

.recipe-image {
    margin: 0 auto;
    display: block;
}
